.App {
  text-align: center;
  background-color: #eee;
}

.App-header {
  background-color: #ffffff;
  height: 40px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.dashboard-profilecard-name{
  font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    font-family: "Segoe UI",Arial,sans-serif;
    position: relative
}

.u-textInheritColor {
    color: inherit!important;
}

a:-webkit-any-link{
text-decoration:none !important;
}

.dashboard-profilecard-screenname {
    display: inline-block!important;
    max-width: 100%;
}


.LeftPage{
  float:left;
  margin-top: 50;
}

.TweetBox{
  width: 600px;
  height:30px;
  border-radius: 5px;
}

.followBtnText{
  background-color: #ffffff;
  color:#4AB3F4;
  text-transform:capitalize;
  border: 2px solid #4AB3F4;
  border-radius: 60px;
  padding: 5px; 
}

.tweetBtnText{
  background-color: #4AB3F4;
  color:#ffffff;
  border-radius: 60px;
  padding: 5px; 
  text-transform:capitalize;
}

.profileCardBtnText{
  color:#696969;
  font-weight: bold;
  font-size: 15px;
  text-transform:capitalize;   
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
